<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="LogGenerator" packages="se.skltp.loghandler">
    <Appenders>
        <Socket name="loghandlerSocket" host="localhost" port="9999" protocol="tcp">
            <SerializedLayout />
        </Socket>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%p] %c{1} - %m%n "/>
        </Console>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="console" level="warn"/>
        </Root>
        <logger name="se.skltp.loghandler.LogPusherApplication" level="info">
            <AppenderRef ref="loghandlerSocket"/>
        </logger>
        <logger name="se.skltp.loghandler.LogGeneratorService" level="info">
            <AppenderRef ref="console"/>
        </logger>
    </Loggers>
</Configuration>