<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="LogGenerator" packages="se.skltp.loghandler">
    <Appenders>
        <Socket name="loghandlerSocket" host="localhost" port="8888" protocol="UDP">
            <SerializedLayout />
            <!--<PatternLayout pattern="%msg%n"/>-->
        </Socket>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="warn"/>
            <AppenderRef ref="loghandlerSocket"/>
        </Root>
    </Loggers>
</Configuration>